<header class="menu-bar">
  <div class="container">
    <h1 class="title">Chess Fork</h1>
  </div>
</header>

<nav class="sub-header">
  <div class="container">
    <div class="sub-header-title">
      Welcome to the analysis board!
    </div>

    <div class="header-actions">
      <a href="javascript:" class="reset-board"
         data-tooltip="Reset board"><%= fa_icon "file-o" %></a>

      <a href="javascript:" class="undo"
         data-tooltip="Undo"><%= fa_icon "undo" %></a>
    </div>
  </div>
</nav>

<div class="analysis-board">
  <div class="main-board">
    <%= render partial: "analysis/chessboard", locals: { square_prefix: "sq" } %>
  </div>

  <div class="moves-and-importer">
    <div class="game-move-list">
      <div class="move-list"></div>
    </div>

    <div class="vue-modal-move-list"></div>

    <div class="pgn-importer">
      <textarea placeholder="Enter or paste a PGN here to import your game

1. e4 e5 2. ..."></textarea>
      <button class="load-pgn invisible">Load PGN</button>
      <div class="invalid-pgn invisible">Not a valid PGN</div>
    </div>
  </div>

  <div class="actions">
    <button class="action flip-board"><%= fa_icon "retweet" %></button>
    <div class="move-actions invisible">
      <button class="action first-move">|<%= fa_icon "chevron-left" %></button>
      <button class="action prev-move"><%= fa_icon "chevron-left" %></button>
      <button class="action next-move"><%= fa_icon "chevron-right" %></button>
      <button class="action last-move"><%= fa_icon "chevron-right" %>|</button>
    </div>
  </div>

  <div class="bottom-area">
    <div class="intro-message invisible">
      Move a piece on the board <em>or</em> import a game to get started
    </div>

    <div class="vue-position-info"></div>

    <div class="analysis-info"></div>

    <div class="mini-hover-board">
      <div class="hover-board invisible">
        <%= render partial: "analysis/chessboard",
                   locals: { square_prefix: "msq" } %>
      </div>
    </div>

    <div class="evaluation-graph invisible">
      <div class="area-graph"></div>
    </div>
  </div>
</div>

<% if ENV["GA_ID"].present? %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GA_ID"] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= ENV["GA_ID"] %>');
  </script>
<% end %>
