<header class="menu-bar">
  <div class="container">
    <h1 class="title">Chess Fork</h1>

    <% if false %>

    <div class="menu-actions">
      <a href="javascript:"><%= fa_icon "power-off" %> Reset</a>
    </div>

    <% end %>

  </div>
</header>

<nav class="sub-header">
  <div class="container">
    Welcome to the analysis board!
  </div>
</nav>

<div class="analysis-board">

  <div class="main-board">
    <%= render :partial => "analysis/chessboard",
               :locals  => { :square_prefix => "sq" } %>
  </div>

  <div class="moves-and-importer">

    <div class="game-move-list">
      <div class="move-list"></div>
    </div>

    <div class="modal-move-list invisible">

      <div class="modal-bg"></div>

      <div class="modal">

        <header class="modal-header">
          <div class="engine-name"></div>
          <div class="close-modal">x</div>
        </header>

        <div class="move-list"></div>

      </div>

    </div>

    <div class="pgn-importer">
      <textarea placeholder="Enter or paste a PGN here to import your game

1. e4 e5 2. ..."></textarea>
      <button class="load-pgn invisible">Load PGN</button>
      <div class="invalid-pgn invisible">Not a valid PGN</div>
    </div>

  </div>

  <div class="actions">
    <button class="action flip-board"><%= fa_icon "retweet" %></button>
    <div class="move-actions invisible">
      <button class="action first-move">|<%= fa_icon "chevron-left" %></button>
      <button class="action prev-move"><%= fa_icon "chevron-left" %></button>
      <button class="action next-move"><%= fa_icon "chevron-right" %></button>
      <button class="action last-move"><%= fa_icon "chevron-right" %>|</button>
    </div>
  </div>

  <div class="bottom-area">

    <div class="intro-message">
      Move the pieces on the board <b>or</b> import a game to get started
    </div>

    <div class="position-info invisible">

      <button class="show-position-actions"><%= fa_icon "ellipsis-h" %></button>

      <div class="position-description"></div>

    </div>

    <div class="suggested-moves invisible">

      <div class="titles">
        <div class="move-title">Response</div>
        <div class="evaluation-title">Evaluation</div>
        <div class="evaluation-source">Source</div>
      </div>

      <div class="moves">
        <div class="move engine-move"></div>
        <div class="evaluation"></div>
        <div class="source"></div>
      </div>
    
    </div>

    <div class="mini-hover-board">
      <div class="hover-board invisible">
        <%= render :partial => "analysis/chessboard",
                   :locals  => { :square_prefix => "msq" } %>
      </div>
    </div>

    <div class="evaluation-graph">
      <div class="area-graph"></div>
    </div>

  </div>

</div>
