<header class="menu-bar">
  <div class="container">
    <h1 class="title">Chess Fork</h1>

    <% if false %>

    <div class="menu-actions">
      <a href="javascript:"><%= fa_icon "power-off" %> Reset</a>
    </div>

    <% end %>

  </div>
</header>

<nav class="sub-header">
  <div class="container">
    Welcome to the analysis board!
  </div>
</nav>

<div class="analysis-board">

  <div class="chessboard">
    <% polarity = %w( light dark ).cycle %>
    <% (1..8).to_a.reverse.each do |row| %>
      <% ('a'..'h').to_a.each do |col| %>
        <div class="square <%= polarity.next %>" id="<%= "#{col}#{row}" %>"></div>
      <% end %>
      <% polarity.next %>
    <% end %>
  </div>

  <div class="moves-and-importer">

    <div class="move-list">
    </div>

    <div class="modal-move-list invisible">
      <div class="modal-bg"></div>
      <div class="moves"></div>
    </div>

    <div class="pgn-importer">
      <textarea placeholder="Enter or paste a PGN here to import your game

1. e4 e5 2. ..."></textarea>
      <button class="load-pgn invisible">Load PGN</button>
    </div>

  </div>

  <div class="actions">
    <button class="action flip-board"><%= fa_icon "retweet" %></button>
    <div class="move-actions invisible">
      <button class="action first-move">|<%= fa_icon "chevron-left" %></button>
      <button class="action prev-move"><%= fa_icon "chevron-left" %></button>
      <button class="action next-move"><%= fa_icon "chevron-right" %></button>
      <button class="action last-move"><%= fa_icon "chevron-right" %>|</button>
    </div>
  </div>

  <div class="bottom-area">

    <div class="intro-message">
      Move the pieces on the board -or- import a game to get started
    </div>

    <div class="suggested-moves invisible">

      <div class="titles">
        <div class="move-title">Move</div>
        <div class="evaluation-title">Evaluation</div>
        <div class="evaluation-source">Source</div>
      </div>

      <div class="moves">
        <div class="move"></div>
        <div class="evaluation"></div>
        <div class="source"></div>
      </div>
    
    </div>

  </div>

</div>
